# Laravel & Composer files
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.*
/composer.phar
phpunit.xml
phpunit.xml.dist

# Laravel specific
/public/build
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/app/*.key
/storage/*.key

# OS and IDE-specific files
.DS_Store
Thumbs.db
.idea
.vscode

# Laravel Debugbar
/.phpstorm.meta.php

# Nginx/Apache logs
/logs
*.log

# Ignore compiled CSS, JS, etc.
public/css/*.map
public/js/*.map
public/js/*.js.map
public/css/*.css.map

# Ignore ZIP files
*.zip
